<section class="aura-helper-tab">
  {{#unless hasCombat}}
    <p class="aura-helper-tab__empty">Kein aktiver Kampf</p>
  {{else}}
    <div class="aura-helper-tab__sources">
      {{#each sources as |source|}}
        <article class="aura-helper-tab__source" data-source-uuid="{{source.uuid}}">
          <h3 class="aura-helper-tab__source-name">{{source.name}}</h3>

          <ul class="aura-helper-tab__auras-list">
            {{#each source.auras as |aura|}}
              <li class="aura-helper-tab__aura-item">
                <div class="aura-helper-tab__aura-label">[{{aura.name}}] ({{aura.identifier}})</div>

                <ul class="aura-helper-tab__targets-list">
                  {{#each aura.targets as |target|}}
                    <li class="aura-helper-tab__target-item">
                      <label class="aura-helper-tab__target-label">
                        <input
                          class="aura-helper-tab__target-checkbox"
                          type="checkbox"
                          data-target-uuid="{{target.uuid}}"
                          data-source-uuid="{{source.uuid}}"
                          data-aura-id="{{aura.id}}"
                          {{#if target.isSuppressed}}checked{{/if}}
                        />
                        <span class="aura-helper-tab__target-name">{{target.name}}</span>
                      </label>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        </article>
      {{/each}}
    </div>
  {{/unless}}
</section>
